@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 90px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 50px;
}
.logo a {
   background-color: #4169e1;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 140px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border: 3px solid #4169e1;
}

.logo a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #4169e1;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 700
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 60px;
  padding: 35px 0;
  color: black;
}

.content{
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

footer small {
  font-size: 12px
}

#index h1{
  font-size: 34px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  border: none;
}

#index .content{
  margin-top: 60px;
  text-align: center
}

#index p {
  font-size: 14px;
  color:  #ffffff;
}

.btn a {
  background-color: #9370db;
  color: #ffffff;
  font-size: 20px;
  font-family: 'bitter',serif;
  width: 130px;
  display: block;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 3px solid #9370db;
  margin: 40px auto;
  }

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #9370db;
}

#index footer {
  width: 960px;
  margin: 250px auto 0;
  background-color: transparent;
  }

#index {
  background-image: url(../images/fullscreen2000_1200.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  }

#profile ,#portfolio ,#contents{
  background-image: url(../images/topscreen2000.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
  background-color: #ffffff;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.icon:before {
  content: "";
  padding: 10px;
  border-left: 7px solid #9cb4a4;
}

#profile .profile-txt {
  width: 560px;
  float: left;
}

#profile .profile-txt span {
  font-weight: bold;
  font-size: 16px
}
#profile .profile-image {
  float: right;
  margin-top: 40px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

section{
  margin-bottom: 35px
}

#profile .career th {
  width: 160px;
  background-color: #f0f0f0;
  padding: 10px 0;
  border: 1px solid #cccccc;
}

#profile .career td {
  width: 700px;
  padding: 10px 0 10px 20px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.main {
  width: 760px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 140px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Roboto', sans-serif;
  }

.sidebar h2 {
  margin-bottom: 10px;
 }

.sidebar ul {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.sidebar ul a {
  color: #333333
}

a img:hover {
  opacity: 0.8;
}

#contents img {
  display: inline-block;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
}

#contents .work-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
  
  }
#contents .work-list li:nth-child(3n){
  margin-right: 0;
}


@media screen and (max-width:600px){
/*  画面サイズが600px以下の場合に適用　*/
  
  body {
    font-size: 3.5vw;
  }
  
  h1 {
    font-size: 7.2vw;
  }
  
  h2 {
    font-size: 6vw;
  }
  
  header {
    width: auto;
    margin: 0.5%;
  }
  
  .logo {
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  
  .global-nav {
    float: none;
    margin-top: 40px;
    text-align: center;
  }
  .global-nav li {
    display: inline;
    float: none;
    margin: 0 8px;
  }
  
  #wrap {
    margin-top: 30px;
    padding: 35px 0 0;
  }
  
  .content {
    width: 100%;
  }
  
  .main {
    float :none;
    width: auto;
    margin: 0 5%;
  }
  h2 img {
    max-width: 100%;
  }
  
  #portfolio,#contents {
    background-image: url(../images/flourgarden.jpg)
  }
  
  #profile .profile-txt {
  width: 70%;
  float: none;
}
  
  #profile .profile-image {
    width: auto;
    float: none;
    margin: 0 0 0 30px;
    
}
  
  #profile .career th {
  width: 10%;
  }

  #profile .career td {
  width: 60%;
  }
  
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4
  }
}